[submodule "thirdparty/yaml-cpp"]
    path = thirdparty/yaml-cpp
    url = https://github.com/jbeder/yaml-cpp.git
[submodule "thirdparty/minhook"]
	path = thirdparty/minhook
	url = git@github.com:TsudaKageyu/minhook.git
[submodule "thirdparty/openssl"]
	path = thirdparty/openssl
	url = https://github.com/janbar/openssl-cmake.git
